<!--
  Generated template for the Langue page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="img-container">
    <ion-title>{{'LANGUE' | translate}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>{{'CHOIXLANGUE' | translate}}</ion-label>
      <ion-select [(ngModel)]="langue" (ionChange)="choixLangue()" cancelText="Annuler" okText="Ok">
        <ion-option value="fr" *ngIf="langue == 'fr' " > Français </ion-option>
        <ion-option value="en" *ngIf="langue == 'fr' "> Anglais </ion-option>
        <ion-option value="ha" *ngIf="langue == 'fr' "> Houssa </ion-option>
        <ion-option value="fr" *ngIf="langue == 'en' " > Frunch </ion-option>
        <ion-option value="en" *ngIf="langue == 'en' "> English </ion-option>
        <ion-option value="ha" *ngIf="langue == 'en' "> Hausa </ion-option>
        <ion-option value="fr" *ngIf="langue == 'ha' " > Faransa </ion-option>
        <ion-option value="en" *ngIf="langue == 'ha' "> Turanci </ion-option>
        <ion-option value="ha" *ngIf="langue == 'ha' "> Hausa </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
