<!--
  Generated template for the Rapport page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar color="fuma_primary">
    <ion-title>{{'RAPPORT' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <ion-list>
      <ion-row>
        <ion-col width-50>
          <ion-item>
            <ion-label floating>{{'TYPEOPERATION' | translate}}</ion-label>
            <ion-select [(ngModel)] = "selectedTypeOperation" (ionChange)="filterTypeOperation()" cancelText="Annuler" okText="Ok" >
              <ion-option value="VENTE">{{'VENTE' | translate}}</ion-option>
              <ion-option value="DEPENSE">{{'DEPENSE' | translate}}</ion-option>
              <ion-option value="DECAISSEMENT">{{'DECAISSEMENT' | translate}}</ion-option>
              <ion-option value="LOCATION" >{{'LOCATION' | translate}}</ion-option>
              <ion-option value="RETOUR LOCATION">{{'RETOURLOCATION' | translate}}</ion-option>
              <ion-option value="SUBVENTION">{{'SUBVENTION' | translate}}</ion-option>
              <ion-option value="TOUS">{{'TOUS' | translate}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col width-50>
          <ion-item>
            <ion-label floating>{{'TYPERAPPORT' | translate}}</ion-label>
            <ion-select [(ngModel)] = "selectedTypeRapport" (ionChange)="filterTypeRapport()" cancelText="Annuler" okText="Ok" >
              <ion-option value="Jour">{{'JOURNALIER' | translate}}</ion-option>
              <ion-option value="Semaine">{{'HEBDOMADAIRE' | translate}}</ion-option>
              <ion-option value="Moi">{{'MENSUEL' | translate}}</ion-option>
              <ion-option value="Annee" >{{'ANNUEL' | translate}}</ion-option>
              <ion-option value="Tous">{{'TOUS' | translate}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-searchbar placeholder="{{'RECHERCHEPRODUIT' | translate}}" [showCancelButton]="shouldShowCancel" [(ngModel)]="rh" (ionInput)="getItems($event)"></ion-searchbar>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-item *ngIf="!operations.length > 0">
        <div class="message">{{'RAPPORTVIDE' | translate}}</div>
    </ion-item>
  </ion-card>

<ion-card style="height: 60%" *ngIf="operations.length > 0">
  <ion-scroll scrollX="true" scrollY="true" id="rapport"> 
    <ion-card-header>
    <h2 style="width: 100%"><strong style="width: 100%">{{'RAPPORT' | translate}} {{rapport}}</strong></h2>
  </ion-card-header> 
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
        <th width-25>
          <strong>{{'DATE' | translate}}</strong>
        </th>
        <th width-25>
          <strong>{{'TYPEOPERATION' | translate}}</strong>
        </th>
        <th width-25>
          <strong>{{'TYPEPRODUIT' | translate}}</strong>
        </th>
        <th width-25>
          <strong>{{'NOMPRODUIT' | translate}}</strong>
        </th>
        <th width-25>
          <strong>{{'UNITE' | translate}}</strong>
        </th>
        <th width-25>
          <strong>{{'PRIXUNITAIRE' | translate}}</strong>
        </th>
        <th width-25>
          <strong>{{'QUANTITE' | translate}}</strong>
        </th>
        <th width-25>
          <strong>{{'MONTANTTOTAL' | translate}}</strong>
        </th>
        <th width-25>
          <strong>{{'CAISSE' | translate}}</strong>
        </th>
        <th width-25>
          <strong>{{'TRESORIER' | translate}}</strong>
        </th>
        <th width-25>
          <strong>{{'NOMCLIENT' | translate}}</strong>
        </th>
        <th width-25>
          <strong>{{'SEX' | translate}}</strong>
        </th>
        <th width-25>
          <strong>{{'VILLAGE' | translate}}</strong> 
        </th>
        <th width-25>
          <strong>{{'OP' | translate}}</strong>
        </th>
        <th width-25>
          <strong>{{'OBSERVATION' | translate}}</strong> 
        </th>
        </tr>
      </thead>
      <!--hr style="width: 375%"-->
      <tbody>
        <tr *ngFor="let op of operations" >
          <td width-25>
            {{op.date | date: 'dd-MM-yyyy'}}
          </td>
          <td width-25>
            {{op.type}}
          </td>
          <td width-25>
            {{op.type_produit}}
          </td>
          <td width-25>
            {{op.nom_produit}}
          </td>
          <td width-25>
            {{op.unite}}
          </td>
          <td width-25>
            {{op.prix_unitaire}}
          </td>
          <td width-25>
            {{op.quantite}}
          </td>
          <td width-25>
            {{op.montant_total}}
          </td>
          <td width-25>
            {{op.solde_caisse}}
          </td>
          <td width-25>
            {{op.solde_tresor}}
          </td>
          <td width-25>
            {{op.nom_client}}
          </td>
          <td width-25>
            {{op.sex_client}}
          </td>
          <td width-25>
            {{op.village_client}}
          </td>
          <td width-25>
            {{op.op_client}}
          </td>
          <td width-25>
            {{op.observation}}
          </td>
        </tr>
  <!--hr style="width: 375%"-->
        <tr>
          <td width-25>
            <h2><strong>Total</strong></h2>
          </td>
          <td width-25>
            <strong></strong>
          </td>
          <td width-25>
            <strong></strong>
          </td>
          <td width-25>
            <strong></strong>
          
          </td>
          <td width-25>
            <strong></strong>
            
          </td>
          <td width-25>
            <strong></strong>
            
          </td>
          <td width-25>
            <strong></strong>
          
          </td>
          <td width-25>
            <h2><strong> {{total}} </strong></h2>
          </td>
        </tr>
      </tbody>
    </table>
  </ion-scroll>
</ion-card>


<ion-fab bottom right *ngIf="operations.length > 0">
    <button ion-fab mini (click)="onPrint()"><ion-icon name="print"></ion-icon></button>
    <button ion-fab mini (click)="exportXLSX()"><ion-icon name="cloud-upload"></ion-icon></button>
</ion-fab>
</ion-content>


<!--ion-card style="height: 60%" *ngIf="operations.length > 0">
  <ion-scroll scrollX="true" scrollY="true" id="rapport"> 
    <ion-card-header>
    <h2><strong>Rapport {{rapport}}</strong></h2>
  </ion-card-header> 
    <ion-grid>
      <ion-row>
        <ion-col width-25>
          <strong>Date</strong>
        </ion-col>
        <ion-col width-25>
          <strong>Type opération</strong>
        </ion-col>
        <ion-col width-25>
          <strong>Type de produit</strong>
        </ion-col>
        <ion-col width-25>
          <strong>Nom de produit</strong>
        </ion-col>
        <ion-col width-25>
          <strong>unité</strong>
        </ion-col>
        <ion-col width-25>
          <strong>Prix unitaire</strong>
        </ion-col>
        <ion-col width-25>
          <strong>Quantité</strong>
        </ion-col>
        <ion-col width-25>
          <strong>montant_total</strong>
        </ion-col>
        <ion-col width-25>
          <strong>Caisse</strong>
        </ion-col>
        <ion-col width-25>
          <strong>Tresorier</strong>
        </ion-col>
        <ion-col width-25>
          <strong>Nom du Client</strong>
        </ion-col>
        <ion-col width-25>
          <strong>Sexe</strong>
        </ion-col>
        <ion-col width-25>
          <strong>Village</strong> 
        </ion-col>
        <ion-col width-25>
          <strong>OP</strong>
        </ion-col>
        <ion-col width-25>
          <strong>Obsertion</strong> 
        </ion-col>
      </ion-row>
      <hr style="width: 375%">
      <ion-row *ngFor="let op of operations" >
        <ion-col width-25>
          {{op.date | date: 'dd-MM-yyyy'}}
        </ion-col>
        <ion-col width-25>
          {{op.type}}
        </ion-col>
        <ion-col width-25>
          {{op.type_produit}}
        </ion-col>
        <ion-col width-25>
          {{op.nom_produit}}
        </ion-col>
        <ion-col width-25>
          {{op.unite}}
        </ion-col>
        <ion-col width-25>
          {{op.prix_unitaire}}
        </ion-col>
        <ion-col width-25>
          {{op.quantite}}
        </ion-col>
        <ion-col width-25>
          {{op.montant_total}}
        </ion-col>
        <ion-col width-25>
          {{op.solde_caisse}}
        </ion-col>
        <ion-col width-25>
          {{op.solde_tresor}}
        </ion-col>
        <ion-col width-25>
          {{op.nom_client}}
        </ion-col>
        <ion-col width-25>
          {{op.sex_client}}
        </ion-col>
        <ion-col width-25>
          {{op.village_client}}
        </ion-col>
        <ion-col width-25>
          {{op.op_client}}
        </ion-col>
        <ion-col width-25>
          {{op.observation}}
        </ion-col>
      </ion-row>
<hr style="width: 375%">
      <ion-row>
        <ion-col width-25>
          <h2><strong>Total</strong></h2>
        </ion-col>
         <ion-col width-25>
          <strong></strong>
        </ion-col>
        <ion-col width-25>
          <strong></strong>
        </ion-col>
        <ion-col width-25>
          <strong></strong>
         
        </ion-col>
        <ion-col width-25>
          <strong></strong>
          
        </ion-col>
        <ion-col width-25>
          <strong></strong>
          
        </ion-col>
        <ion-col width-25>
          <strong></strong>
         
        </ion-col>
        <ion-col width-25>
          <h2><strong> {{total}} </strong></h2>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-scroll>
</ion-card-->

