<!--ion-tabs color="fuma_primary" *ngIf="premierLencement">
  <ion-tab [root]="tab1Root" tabTitle="Accueil" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Analyse" tabIcon="analytics"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Achats" tabIcon="cart"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Location" tabIcon="clock"></ion-tab>
  <ion-tab [root]="tab6Root" tabTitle="Subvention" tabIcon="download"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Accueil" tabIcon="cash"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Gérants" tabIcon="person"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Admin" tabIcon="settings"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Produit" tabIcon=""></ion-tab>
</ion-tabs-->

<!--ion-tabs color="fuma_primary" *ngIf="!premierLencement"-->
<ion-tabs color="fuma_primary">
  <ion-tab [root]="tab1Root" tabTitle=" {{'OPERATIONS' | translate}}" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle=" {{'RAPPORT' | translate}}" tabIcon="analytics"></ion-tab>
  <!--ion-tab [root]="tab2Root" tabTitle="Achats" tabIcon="cart"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Location" tabIcon="clock"></ion-tab>
  <ion-tab [root]="tab6Root" tabTitle="Subvention" tabIcon="download"></ion-tab!-->
  <!--ion-tab [root]="tab5Root" tabTitle="Accueil" tabIcon="cash"></ion-tab-->
  <ion-tab [root]="tab4Root" tabTitle=" {{'PRODUITS' | translate}}" tabIcon="basket"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle=" {{'ADMIN' | translate}}" tabIcon="settings"></ion-tab>
  <!--ion-tab [root]="tab4Root" tabTitle="Produit" tabIcon=""></ion-tab-->
</ion-tabs>