<!--
  Generated template for the AjouterProduit page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="fuma_primary">
    <ion-title>{{'AJOUTER-PRODUIT' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="produit" (ngSubmit) = "ajouter()">
 
  <ion-item>
    <ion-label floating>{{'IDPRODUIT' | translate}} <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="code_produit" [(ngModel)] = "code_prod" disabled></ion-input>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="produit.controls['code_produit'].hasError('required') && produit.controls['code_produit'].touched">* {{'IDPRODUITOBLIGATOIRE' | translate}}</div>

  <ion-item>
    <ion-label floating>{{'DATE' | translate}} <span class="error-box">*</span></ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" formControlName="date" cancelText="Annuler" doneText="Valider"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label floating>{{'TYPEPRODUIT' | translate}} <span class="error-box">*</span></ion-label>
    <ion-select formControlName="type_produit" (ionChange)="calculID(last_id)" [(ngModel)]="selectedTypeProduit" cancelText="Annuler" okText="Ok">
      <ion-option value="" selected disabled>{{'SECTIONNEZTYPZPRODUIT' | translate}}</ion-option>
      <ion-option *ngFor="let typeProduit of typeProduits" [value]=typeProduit.nom >{{typeProduit.nom}}</ion-option>
    </ion-select>
  </ion-item>
  <div style="padding-left: 15px;" class="error-box" *ngIf="produit.controls['type_produit'].hasError('required') && produit.controls['type_produit'].touched">* {{'TYPEPRODUITOBLIGATOIRE' | translate}}</div>

  <ion-item>
    <ion-label floating>{{'NOMPRODUIT' | translate}} <span class="error-box">*</span></ion-label>
    <ion-input type="text" formControlName="nom_produit"></ion-input>
  </ion-item>
<div style="padding-left: 15px;" class="error-box" *ngIf="produit.controls['nom_produit'].hasError('required') && produit.controls['nom_produit'].touched">* {{'NOMPRODUITOBLIGATOIRE' | translate}}</div>

  <ion-item>
    <ion-label floating>{{'UNITEMESURE' | translate}} <span class="error-box">*</span></ion-label>
    <ion-select formControlName="unite_mesure" [(ngModel)] = "selectedUnite" cancelText="Annuler" okText="Ok">
      <ion-option value="" selected disabled>{{'SELECTIONNEZUNITE' | translate}}</ion-option>
      <ion-option *ngFor="let unite of unites" [value]=unite>{{unite}}</ion-option>
      <!--ion-option value="g">g</ion-option>
      <ion-option value="sachet100g">sachet de 100 grammes</ion-option>
      <ion-option value="sachet25g">sachet de 25 grammes</ion-option>
      <ion-option value="bloc100g">bloc de 100 grammes</ion-option>
      <ion-option value="tia">tia</ion-option>
      <ion-option value="litre">litre</ion-option>
      <ion-option value="comprime">comprimé</ion-option>
      <ion-option value="autre">autre</ion-option-->
    </ion-select>
  </ion-item>
<div style="padding-left: 15px;" class="error-box" *ngIf="produit.controls['unite_mesure'].hasError('required') && produit.controls['unite_mesure'].touched">* {{'UNITEOBLIGATOIRE' | translate}}</div>

  <ion-item>
    <ion-label *ngIf="selectedUnite" floating>{{'QUANTITE' | translate}} ({{selectedUnite}}) <span class="error-box">*</span></ion-label>
    <ion-label *ngIf="!selectedUnite" floating>{{'QUANTITE' | translate}} <span class="error-box">*</span></ion-label>
    <ion-input type="number" formControlName="quantite" (keyup)="onKeyupQuantite()"></ion-input>
  </ion-item>
<div style="padding-left: 15px;" class="error-box" *ngIf="produit.controls['quantite'].hasError('required') && produit.controls['quantite'].touched">* {{'QUANTITEOBLIGATOIRE' | translate}}</div>

  <ion-item>
    <ion-label floating>{{'PRIXUNITAIRE' | translate}} <span class="error-box">*</span></ion-label>
    <ion-input type="number" formControlName="prix" (keyup)="onKeyupPrixUnitaire()"></ion-input>
  </ion-item>
<div style="padding-left: 15px;" class="error-box" *ngIf="produit.controls['prix'].hasError('required') && produit.controls['prix'].touched">* {{'PRIXUNITAIREOBLIGATOIRE' | translate}}</div>

  <ion-item>
    <ion-label floating>{{'PRIXTOTAL' | translate}} <span class="error-box">*</span></ion-label>
    <ion-input type="number" formControlName="prix_total" [(ngModel)]="prix_total" disabled></ion-input>
  </ion-item>
<div style="padding-left: 15px;" class="error-box" *ngIf="produit.controls['prix_total'].hasError('required') && produit.controls['prix_total'].touched">* {{'PRIXTOTALOBLIGATOIRE' | translate}}</div>

    <br>
    <button ion-button type="submit" color="secondary" [disabled]="!produit.valid" block>{{'SAUVEGARDER' | translate}}</button>
  </form>
  <button ion-button color="primary" block (click)="annuler()">{{'ANNULER' | translate}}</button>

</ion-content>
