<!--
  Generated template for the ModifierAchat page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>modifier-achat</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="achat" (ngSubmit) = "modifier()">

    <ion-item>
      <ion-label floating>Nom vendeur</ion-label>
      <ion-input type="text" formControlName="nom_vendeur"></ion-input>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="achat.controls['nom_vendeur'].hasError('required') && achat.controls['nom_vendeur'].touched">* le nom du vendeur est obligatoir!</div>
    

    <ion-item>
      <ion-label floating>Prénom vendeur</ion-label>
      <ion-input type="text" formControlName="prenom_vendeur"></ion-input>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="achat.controls['prenom_vendeur'].hasError('required') && achat.controls['prenom_vendeur'].touched">* le prénom du vendeur est obligatoir!</div>
    

    <ion-item>
      <ion-label floating>Selectionnez un produit</ion-label>
      <ion-select formControlName="produit" [(ngModel)] = "selectedProduit" cancelText="Annuler" okText="Ok">
        <ion-option [value]=selectedProduit selected>{{selectedProduit.nom_produit}}</ion-option>
        <ion-option *ngFor="let prod of produits" [value]=prod > {{prod.nom_produit}} </ion-option>
        <!--ion-option value="sorgho">Sorgho</ion-option>
        <ion-option value="maïs">Maïs</ion-option>
        <ion-option value="patate">Patate</ion-option-->
      </ion-select>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="achat.controls['produit'].hasError('required') && achat.controls['produit'].touched">* Le nom du produit est obligatoir!</div>

    <ion-item>
      <ion-label floating>Quantité achetée (Kg)</ion-label>
      <ion-input type="number" formControlName="quantite"></ion-input>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="achat.controls['quantite'].hasError('required') && achat.controls['quantite'].touched">* La quantite est un nombre positif, obligatoir!</div>
    

    <ion-item>
      <ion-label floating>Prix total (FCFA)</ion-label>
      <ion-input type="number" formControlName="prix"></ion-input>
    </ion-item>
    <div style="padding-left: 15px;" class="error-box" *ngIf="achat.controls['prix'].hasError('required') && achat.controls['prix'].touched">* Le prix total est obligatoir!</div>
    

    <ion-item>
      <ion-label floating>Date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="date_vente" cancelText="Annuler" doneText="Valider"></ion-datetime>
    </ion-item>
    <br>
    <button ion-button type="submit" color="secondary" [disabled]="!achat.valid" block>Sauvegarder</button>
  </form>
  <button ion-button color="primary" block (click)="annuler()">Annuler</button>

</ion-content>
